
bin/.DS_Store

*.d

*.dex

*.d

*.class

bin/dexedLibs/cordova-2.9.0-da70a52308847ce13b80465a1c6d3ebd.jar

bin/res/drawable-hdpi/ic_launcher.png

bin/res/drawable-hdpi/icon.png

bin/res/drawable-ldpi/ic_launcher.png

bin/res/drawable-ldpi/icon.png

bin/res/drawable-mdpi/ic_launcher.png

bin/res/drawable-mdpi/icon.png

bin/res/drawable-xhdpi/ic_launcher.png

bin/res/drawable-xhdpi/icon.png

bin/res/drawable/icon.png

bin/sendEmailPlugin-debug-unaligned.apk

bin/sendEmailPlugin-debug-unaligned.apk.d

bin/sendEmailPlugin-debug.apk

bin/sendEmailPlugin.ap_

bin/sendEmailPlugin.ap_.d

*.d
